@charset "utf-8";

/* reset */
* {margin:0; padding:0;}
body {font-family:'NanumGothic','dotum'; font-size:14px; margin:0; padding:0; font-weight:normal;}
html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure,figcaption{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:600;}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{text-indent:-100%;*text-indent:0;white-space:nowrap;overflow:hidden;font-size:0;line-height:0;text-shadow:none;color:transparent;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block}a { text-decoration:none; color:#111; font-size:13px; }
body {text-size-adjust:none;-webkit-text-size-adjust:none; }
div {word-break:break-all;}
::-moz-selection{background:#303F6B;color:#fff;text-shadow:none}
::selection{background:#303F6B;color:#fff;text-shadow:none}
.clfix:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
.clfix {display: inline-block;}
.clfix {display: block;}
* html .clfix {height: 1%;} /* Hides from IE-mac */
.clfix { zoom:1; } /*for IE 5.5-7*/



/* link */
a  { text-decoration:none; outline:none;}
a.visited,a.visited:visited/*{color:#333333;}*/
a:hover,a:hover /**,a.visited:hover{color:#333333; text-decoration:none;}*/

hr, legend, .accessibility, .blind {position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0; visibility:hidden; z-index:-1;}
 caption {width:0; height:0; overflow:hidden; font-size:0; line-height:0; visibility:hidden; z-index:-1;}
